{% extends 'base.twig' %}

{% block body %}
    <section class="product">
    {% block styles %}
    <link rel="stylesheet" href="http://localhost/livityshop/public/css/detail.css">
    {% endblock %}
        {% for product in products %}
            <div class="product__photo">
                <!-- Ajoutez vos éléments d'image ici -->
                <img src="http://localhost/livityshop/productimages/{{ product.image }}" alt="{{ product.name }}">
            </div>
            <div class="product__info">
                <div class="title">
                    <h1>{{ product.name }}</h1>
                    <span>Type: {{ product.category }}</span>
                </div>
                <div class="price">
                    <span>{{ product.price }}</span>£
                </div>
                <div class="description">
                    <h3>Description</h3>
                    <ul>
                        <li>{{ product.description }}</li>
                    </ul>
                </div>
                <button class="buy--btn">ADD TO CART</button>
            </div>
        {% endfor %}
    </section>

    <section class="categories">
        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
