{% extends 'base.twig' %}

{% block body %}
    <section class="product">
        <div class="product__photo">
            <a href="#" class="product-link" data-product-id="{{ productDetails.id }}">
                <img src="http://localhost/livityshop/productimages/{{ productDetails.image }}" alt="{{ productDetails.name }}" style="width:90%;filter: drop-shadow(1px 1px 3px $color-secondary);">
            </a>
        </div>
        <div class="product__info">
            <div class="title">
                <h1>{{ productDetails.name }}</h1>
                <span>Type: {{ productDetails.cat_id }}</span>
            </div>
            <div class="price">
                <span>{{ productDetails.price }}</span>Euros
            </div>
            <div class="description">
                <h3>Description</h3>
                <ul>
                    <li>{{ productDetails.description }}</li>
                </ul>
            </div>
            <a button class="ip-add-carti" type="buttoni" id='btn_$idProduit' href='index.php?url=ajouterPanier&idProduit={{ product.id }}&quantity=1'>Add to cart</a>
        </div>
    </section>
{% endblock %}
{% block scripts %}
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    // Get all elements with the class 'product-link'
    var productLinks = document.querySelectorAll('.product-link');

    // Add a click event listener to each link
    productLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            // Prevent the default behavior of the link
            event.preventDefault();

            // Get the value of 'data-product-id'
            var productId = link.dataset.productId;

            // Now you can use the productId as needed
            console.log('Product ID:', productId);

            // You can redirect to the product details page with the product ID
            // Example: window.location.href = 'index.php?url=productDetails&id=' + productId;
        });
    });
});
</script>


{% endblock %}
