{% extends 'base.twig' %}

{% block body %}
    <section class="productdeta">
        <div class="productdeta__photo">
            <a href="#" class="product-link" data-product-id="{{ productDetails.id }}">
                <img src="http://localhost/livityshop/productimages/{{ productDetails.image }}" alt="{{ productDetail.name }}">
            </a>
        </div>
        <div class="productdeta__info">
        
        
            <div class="titledeta">
                <h1>{{ productDetails.name }}</h1>
                <span>Type: {{ productDetails.cat_id }}</span> {# Assuming cat_id is the category identifier #}
            </div>
            <div class="pricedeta">
                <span>{{ productDetails.price }}</span>£
            </div>
            <div class="descriptiondeta">
                <h3>Description</h3>
                <ul>
                    <li>{{ productDetails.description }}</li>
                </ul>
            </div>
            <button class="buy--btndeta">ADD TO CART</button>
        </div>
    </section>


{% endblock %}
