{% extends 'base.twig' %}

{% block body %}
    <section class="product">
        <div class="product__photo">
            <a href="#" class="product-link" data-product-id="{{ productDetails.id }}">
                <img src="http://localhost/livityshop/productimages/{{ productDetails.image }}" alt="{{ productDetails.name }}" style="width:90%;filter: drop-shadow(1px 1px 3px $color-secondary);">
            </a>
        </div>
        <div class="product__info">
            <div class="title">
                <h1>{{ productDetails.name }}</h1>
                <span>Type: {{ productDetails.cat_id }}</span>
            </div>
            <div class="price">
                <span>{{ productDetails.price }}</span>Euros
            </div>
            <div class="description">
                <h3>Description</h3>
                <ul>
                    <li>{{ productDetails.description }}</li>
                </ul>
            </div>
            <button class="buy--btn">ADD TO CART</button>
        </div>
    </section>
{% endblock %}
