{% extends 'base.twig' %}

{% block stylesheets %}
  
    <link rel="stylesheet" href="http://localhost/livityshop/public/css/products.css">
{% endblock %}

{% block body %}
<article class="my-custom-article-style">
    {% if products is not empty %}
        {% for product in products %}
            <div class="container">
                <img src="http://localhost/livityshop/productimages/{{ product.image }}" 
                   
                    alt="{{ product.name }}" class="img-fruit" />
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <div class="properties">
                    <div class="price">
                        <h4>Price</h4>
                        <span class="amount">{{ product.price }} EUR</span>
                    </div>
                </div>
                <input class="ip-add-cart" type="button" value="Add to cart" />
            </div>
        {% endfor %}
    {% else %}
        <p>No products available.</p>
    {% endif %}
</article>
{% endblock %}
